# ------------------------------------------------------------------------------------------
# Hemmelige variabler - Spør Viljan om å få de
# ------------------------------------------------------------------------------------------
VERCEL_REBUILD_URL

# ------------------------------------------------------------------------------------------
# Annet
# ------------------------------------------------------------------------------------------
NODE_ENV="emulator"
