@import "tailwindcss";
@import "@heroui/styles";

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(53.19% 0.2057 28.32);
  --danger: oklch(53.19% 0.2057 28.32);
  --background: oklch(97.02% 0.0000 28.32);
  --surface: oklch(100.00% 0.0012 28.32);
  --field-background: oklch(100.00% 0.0000 28.32);
  --default: oklch(87.11% 0.0055 286.29);
  --separator: oklch(92.00% 0.0024 28.32);

}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(53.19% 0.2057 28.32);
  --danger: oklch(53.19% 0.2057 28.32);
  --background: oklch(21.45% 0.0016 17.28);
  --surface: oklch(24.995% 0.00302 16.842);
  --field-background: oklch(27.39% 0.0055 286.03);
  --default: oklch(37.03% 0.0119 285.81);
  --separator: oklch(29.522% 0.00289 16.682);
}

@font-face {
  font-family: "OCRAExtended";
  src: url("/fonts/OCR-A-Extended.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: BlinkMacSystemFont, helvetica neue, Arial, Helvetica, Geneva, sans-serif;
  background-color: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: all 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}